@media ( max-width: 1400px)
  .container
    max-width: 1180px
  .trends
    &-wrapper
      .news-wrapper,.best-wrapper,.soon-wrapper
        .trends-card-more
          max-height: 323px
          padding: 110px 17px 104px 17px
        .trends-card
          .trends-img
            width: 240px
            height: 323px
  .collection
    &-wrapper
      padding: 0px 60px
  .footer
    ul
      margin-right: 35px
@media ( max-width: 1200px)
  .container
    max-width: 960px
  .collection
    &-wrapper
      padding: 0px 0px
      .collection-block-plant
        margin-right: 20px
      .collection-wrapper-img
        margin-right: 20px
      .collection-block-text
        padding: 0px
        margin-top: 10px
        .collection-title
          width: 280px
          font-size: 42px
        .collection-description
          width: 270px
          font-size: 18px
  .history
    .history-wrapper
      padding: 0px 0px
  .trends
    &-wrapper
      padding-left: 0px
      padding-right: 0px
      .news-wrapper,.best-wrapper,.soon-wrapper
        .trends-card-more
          max-height: 296px
          padding: 95px 15px 104px 15px
          .see-more
            font-size: 22px
        .trends-card
          .trends-img
            width: 220px
            height: 296px
          .card-title
            margin-left: 0px
          .card-value
            .card-price
              margin-left: 0px
  .divider
    width: 960px
  .newsletter
    .newsletter-wrapper
      padding: 0px 0px
  .footer
    &-wrapper
      padding: 0px 0px
      .footer-info
        margin-right: 40px
      ul

@media ( max-width: 991px)
  .container
    max-width: 728px
  .header
    .main-section
      margin-top: 78px
    .menu
      &__items
        &::after
          height: 0px
          width: 0%
          margin-top: 0px
          &:hover::after
            color: black
            width: 0%
      &__button
        &:hover
          background-color: transparent
          color: $additional
    &-wrapper
      margin-bottom: 0px
      position: fixed
      left: 0
      right: 0
      top: 0
      background-color: #fff
      padding-top: 26px
      padding-bottom: 20px
      z-index: 100
    &__logo
      margin-left: 60px
  .trends
    &-wrapper
      .news-wrapper,.best-wrapper,.soon-wrapper
        .trends-card-more
          &:hover
            background-color: $additional
            cursor: pointer
            transition: 0.3s
  .main-section
    .main-wrapper
      .main-button
        &:hover
          background-color: $color-text
  .collection-wrapper
    .collection-button
      &:hover
        color: $additional
  .menu-button
    display: block
    margin-right: 54px
  .nav,.header__button
    display: none
  .main-section
    background-position: -357px -19px
    background-size: auto
    .main-wrapper
      padding-left: 28px
      padding-top: 43px
      padding-bottom: 36px
      width: 100%
      .main-title
        font-size: 48px
        line-height: 60px
        margin-top: 25px
        margin-bottom: 25px
        width: 365px
      .main-subtitle
        font-size: 18px
        max-width: 400px
        line-height: 32px
        margin-bottom: 37px
      .main-button
        margin-bottom: 39px
      .main-advantages
        .main-text
          margin-right: 21px
          margin-top: -4px
  .collection
    padding-top: 79px
    padding-bottom: 41px
    &-wrapper
      flex-wrap: wrap
      padding-left: 28px
      padding-right: 28px
      .collection-block-plant
        margin-right: 26px
        flex-basis: 48%
        .collection-img
          width: 100%
          max-width: none
      .collection-wrapper-img
        margin-right: 0px
        flex-basis: 48%
        .collection-img
          width: 100%
          height: 100%
      .collection-block
      .collection-block-text
        flex-basis: 100%
        margin-top: 31px
        .collection-title
          font-size: 48px
          line-height: 60px
          min-width: 100%
        .collection-description
          font-size: 20px
          line-height: 36px
          min-width: 632px
          margin-bottom: 24px
  .trends
    &-wrapper
      padding-left: 60px
      padding-right: 60px
      .trends-header
        flex-wrap: wrap
        .trends-title
          flex-basis: 100%
          text-align: center
          margin-bottom: 33px
        .filters
          margin: 0 auto
          .catigories
            margin-left: 0px
            text-align: center
      .news-wrapper,.best-wrapper,.soon-wrapper
        .trends-card-more
          max-height: 351px
          padding: 120px 37px 109px 37px
          .see-more
            font-size: 24px
        .trends-card
          margin-bottom: 45px
          .trends-img
            width: 280px
            height: 351px
            object-position: center center
          .card-title
            margin-left: 10px
            margin-top: 16px
          .card-value
            margin-top: 5px
            .card-price
              margin-left: 10px
  .review
    padding-top: 43px
    .swiper-container
      width: 630px
      height: 415px
    .review-text-tablet
      display: none
  .divider
    max-width: 728px
  .history
    padding-top: 75px
    padding-bottom: 93px
    .history-wrapper
      padding: 0px 0px
      display: flex
      flex-direction: column
      .history-text
        display: flex
        flex-direction: column
        align-items: flex-start
        flex-basis: 100%
        .history-tag
          margin: 0 auto
          margin-bottom: 15px
        .history-title
          width: auto
          margin: 0 auto
          margin-bottom: 23px
        .history-description
          width: auto
          margin-bottom: 48px
          text-align: center
          width: 550px
          margin: 0 auto
          margin-bottom: 35px
        .arrows
          display: flex
          justify-content: center
          width: 100%
          margin-left: 10px
          margin-bottom: 30px
          .arrows-prev,.arrows-next
            border: 2px solid $color-text
            .arrows-img
              fill: $color-text
              transition: 0.3s
      .articles-container
        width: 720px
        height: 470px
        .articles
          display: flex
          padding-left: 20px
          .article
            &-img
              width: 322px
              height: 317px
            .article-text-wrapper
              right: 0px
              .continue
                &:hover
                  color: $additional
  .newsletter
    padding-top: 65px
    padding-bottom: 73px
    .newsletter-wrapper
      flex-wrap: wrap
      .newsletter-text
        flex-basis: 100%
        .newsletter-title
          text-align: center
          margin: 0 auto
          margin-bottom: 20px
        .newsletter-description
          text-align: center
          margin: 0 auto
          margin-bottom: 57px
      .newsletter-form
        margin-top: 0px
        margin: 0 auto
  .footer
    padding-top: 64px
    padding-bottom: 110px
    &-wrapper
      justify-content: center
      padding: 0px 0px
      .footer-info
        margin-right: 48px
        margin-left: -7px
        .footer-logo
          margin-left: 0px
        .footer-description
          margin-left: 0px
        .footer-social
          margin-left: 0px
      .footer-nav
        margin-right: 49px
      .footer-services
        margin-right: 18px
      .footer-company
        margin-left: 232px
        margin-right: 46px
      .footer-contacts
        margin-right: 0px
      ul
        margin-bottom: 25px
      .footer-item
        &:hover
          text-decoration: none
@media ( max-width: 767px)
  .container
    width: 90%
  .header
    padding-top: 18px
    &__logo
    .menu-button
    .main-section
      background-position: -447px -19px
      margin-top: 71px
  .collection
    padding-bottom: 58px
    &-wrapper
      padding-left: 0px
      padding-right: 0px
      justify-content: space-between
      flex-wrap: wrap
      .collection-block-plant
        flex-basis: 100%
        height: 460px
        min-height: 366px
        margin-right: 0px
        margin-bottom: 15px
        .collection-img
          min-width: auto
          height: 100%
          min-height: auto
          object-position: center bottom
      .collection-wrapper-img
        min-height: auto
        flex-basis: 100%
        flex-direction: row
        .collection-block
          min-width: auto
          flex-basis: 49%
          height: auto
          margin-bottom: 10px
          .collection-img
            width: 100%
            height: 100%
      .collection-block
      .collection-block-text
        flex-basis: 100%
        margin-top: 31px
        .collection-title
          min-width: auto
          width: auto
          font-size: 43px
        .collection-description
          font-size: 19px
          line-height: 36px
          min-width: auto
          width: auto
          margin-bottom: 24px
        .collection-description--display
          display: none
        .collection-description--mobile
          display: block
  .trends
    &-wrapper
      padding-left: 0px
      padding-right: 0px
      .trends-header
        .trends-title
          margin-bottom: 28px
          font-size: 28px
          line-height: 36px
        .filters
          padding-left: 11px
          .catigories
            font-size: 16px
            line-height: 22px
            margin-right: 16px
      .news-wrapper,.best-wrapper,.soon-wrapper
        padding-top: 35px
        .see-more-wrapper
          flex-basis: 48%
          max-height: 360px
          max-width: 280px
          .trends-card-more
            max-height: 351px
            padding: 124px 37px 135px 37px
            .see-more
              margin-top: 16px
              font-size: 17px
              line-height: 20px
        .trends-card
          margin-bottom: 85px
          flex-basis: 48%
          max-height: 360px
          max-width: 280px
          .trends-img
            width: 100%
            object-position: center top
            object-fit: cover
          .card-title
            margin-left: 0px
            margin-top: 8px
            font-size: 16px
            line-height: 20px
          .card-value
            margin-top: 5px
            .icon-cart
              max-width: 18px
            .card-price
              margin-left: 0px
              font-size: 16px
              line-height: 28px
  .review
    .swiper-container
      width: 90%
      height: 450px
    .review-text
    .review-text-tablet
  .divider
    width: 99%
  .history
    .history-wrapper
      .history-text
        .history-tag
          margin: 0 auto
          margin-bottom: 15px
        .history-title
        .history-title-mobile
          display: none
        .history-description
          width: auto
          margin-bottom: 48px
          text-align: center
          width: 550px
          margin: 0 auto
          margin-bottom: 35px
        .arrows
          display: flex
          justify-content: center
          width: 100%
          margin-left: 10px
          margin-bottom: 30px
          .arrows-prev,.arrows-next
            border: 2px solid $color-text
            .arrows-img
              fill: $color-text
              transition: 0.3s
      .articles-container
        width: 100%
        height: 470px
        .articles
          display: flex
          padding-left: 20px
          .article
            flex-basis: 48%
            &-img
              width: 100%
              height: auto
            .article-text-wrapper
              padding-right: 0px
              padding-left: 10px
              .article-text
                width: 218px
  .footer
    padding-top: 47px
    &-wrapper
      justify-content: space-between
      padding: 0px 0px
      padding-left: 0px
      .footer-info
        flex-basis: 100%
        margin-right: 0px
        margin-left: 0px
        order: 1
        .footer-logo-link
          margin: 0 auto
          .footer-logo
            margin-left: -4px
            margin-bottom: 11px
        .footer-description
          margin-left: -15px

          text-align: center
          margin-bottom: 21px
        .footer-social
          margin-left: 0px
          margin: 0 auto
      .footer-nav
        flex-basis: 50%
        margin-right: 0px
      .footer-services
        flex-basis: 50%
        margin-right: 0px
      .footer-company
        flex-basis: 50%
        margin-left: 0px
        margin-right: 0px
      .footer-contacts
        flex-basis: 50%
        margin-right: 0px
        margin-bottom: 47px
      ul
        margin-bottom: 16px
        display: flex
        flex-direction: column
        align-items: center
      .footer-item

        margin-bottom: 15px
      .footer-title

        margin-bottom: 20px
@media ( max-width: 650px)
  .review
    .swiper-container
      width: 90%
      height: 500px
    .review-text
    .review-text-tablet
@media ( max-width: 576px)
  .header
    &-wrapper
      margin-bottom: 0px
      padding-top: 18px
    &__logo
      margin-left: 24px
    .menu-button
      margin-right: 19px
    .main-section
      border-radius: 0px
      left: 0px
      right: 0px
      position: absolute
      background-position: 79.6% -5px
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
        z-index: 0
      .main-wrapper
        padding-top: 380px
        padding-left: 0px
        padding-bottom: 18px
      .main-tag
        width: 200px
        display: inline-block
        margin-left: 51%
        transform: translateX(-50%)
        padding: 2px 26px
        margin-bottom:
        z-index: 3
      .main-title
        display: inline-block
        margin-left: 50%
        transform: translateX(-50%)
        font-size: 32px
        line-height: 40px
        max-width: 247px
        text-align: center
        margin-top: 17px
        margin-bottom: 7px
      .main-subtitle
        display: inline-block
        margin-left: 50%
        transform: translateX(-50%)
        min-width: 241px
        margin-bottom: 24px
        font-size: 16px
        line-height: 28px
        text-align: center
        z-index: 3
      .main-button
        margin-left: 50%
        transform: translateX(-50%)
        min-width: 257px
        padding: 13px 37px 13px 37px
        font-size: 16px
        line-height: 22px
        margin-bottom: 22px
      .main-advantages
        flex-wrap: wrap
        justify-content: center
        .advantages-item
          margin-bottom: 16px
      .main-advantages
        margin-left: 53%
        transform: translateX(-50%)
        width: 100%
      .main-icon-block
        width: 24px
        height: 24px
        .main-icon
          padding: 4px
  .collection
    padding-top: 1033px
    &-wrapper
      .collection-block-plant
        flex-basis: 100%
        height: 450px
        border-radius: 4px
        overflow: hidden
        margin-bottom: 14px
        .collection-img
      .collection-wrapper-img
        flex-direction: row
        min-width: 100%
        .collection-img
          margin-top: 0px
          object-fit: cover
      .collection-block
        flex-basis: 48%
        border-radius: 4px
        overflow: hidden
        height: 130px
      .collection-block-text
        margin-top: 25px
        .collection-title
          font-size: 28px
          line-height: 36px
          text-align: center
          margin-bottom: 24px
        .collection-description
          font-size: 16px
          line-height: 28px
          text-align: center
        .collection-button
          margin: 0 auto
  .trends
    &-wrapper
      padding-left: 0px
      padding-right: 0px
      .trends-header
        .trends-title
          margin-bottom: 28px
          font-size: 28px
          line-height: 36px
        .filters
          padding-left: 11px
          .catigories
            font-size: 16px
            line-height: 22px
            margin-right: 16px
      .news-wrapper,.best-wrapper,.soon-wrapper
        padding-top: 35px
        .see-more-wrapper
          flex-basis: 47%
          .trends-card-more
            padding: 70px 49px 69px 49px
            max-height: 250px
            .see-more
              margin-top: 16px
              font-size: 17px
              line-height: 20px
        .trends-card
          margin-bottom: 85px
          flex-basis: 47%
          height: 250px
          .trends-img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center bottom
          .card-title
            margin-left: 0px
            margin-top: 8px
            font-size: 16px
            line-height: 20px
          .card-value
            margin-top: 5px
            justify-content: flex-start
            .icon-cart
              max-width: 14px
              margin-left: 8px
            .card-price
              margin-left: 0px
              font-size: 14px
              line-height: 24px
  .review
    padding-bottom: 40px
    .swiper-slide
      overflow: scroll
    .swiper-container
      width: 90%
      height: 500px
    .review-text
    .review-text-mobile
      display: none
  .history
    padding-top: 36px
    padding-bottom: 54px
    .history-wrapper
      .history-text
        .history-tag
          margin-bottom: 17px
        .history-title
          font-size: 28px
          line-height: 36px
          margin-bottom: 19px
        .history-description
          font-size: 16px
          line-height: 28px
          width: auto
        .arrows
          display: flex
          justify-content: center
          width: 100%
          margin-left: 10px
          margin-bottom: 16px
          .arrows-prev,.arrows-next
            border: 2px solid $color-text
            padding: 16px 15px 12px 15px
            .svg-width
              width: 13px
      .articles-container
        width: 100%
        height: auto
        .articles
          display: flex
          flex-wrap: wrap
          padding-left: 0px
          justify-content: flex-start
          .article--margin
            margin-right: 0px
          .article
            flex-basis: 94%
            margin-left: 4px
            margin: 0 auto
            margin-top: 9px
            margin-bottom: 141px
            min-height: 277px
            &-img
              width: 100%
              height: 100%
            .article-text-wrapper
              padding-right: 0px
              padding-left: 19px
              bottom: -131px
              .article-text
                width: auto
                font-size: 20px
                line-height: 24px
                width: 202px
  .newsletter
    padding-top: 61px
    padding-bottom: 64px
    .newsletter-wrapper
      .newsletter-text
        .newsletter-title
          font-size: 28px
          line-height: 36px
          margin-bottom: 28px
        .newsletter-description
          font-size: 16px
          line-height: 28px
          margin-bottom: 33px
      .newsletter-form
        margin-top: 0px
        .newsletter-input
          font-family: Open Sans
          font-style: normal
          font-weight: 600
          font-size: 16px
          line-height: 22px
          min-width: auto
          min-height: 48px
          padding: 0px 55px 0px 48px
          width: 98%
        .newsletter-img
          transform: none
          left: 21px
          top: 21px
        .newsletter-button
          position: static
          transform: none
          width: 98%
          margin-top: 8px
  .footer
    padding-top: 47px
    padding-bottom: 70px
    &-wrapper
      justify-content: flex-start
      padding: 0px 0px
      padding-left: 18px
      .footer-info
        flex-basis: 100%
        margin-right: 0px
        margin-left: 0px
        order: 1
        .footer-logo-link
          margin: 0 auto
          .footer-logo
            margin-left: -4px
            margin-bottom: 11px
        .footer-description
          margin-left: -15px
          font-size: 14px
          line-height: 24px
          text-align: center
          margin-bottom: 21px
        .footer-social
          margin-left: 0px
          margin: 0 auto
      .footer-nav
        flex-basis: 100%
        margin-right: 0px
      .footer-services
        flex-basis: 100%
        margin-right: 0px
      .footer-company
        flex-basis: 100%
        margin-left: 0px
        margin-right: 0px
      .footer-contacts
        flex-basis: 100%
        margin-right: 0px
        margin-bottom: 47px
      ul
        margin-bottom: 16px
        display: flex
        flex-direction: column
        align-items: flex-start
      .footer-item
        font-size: 14px
        line-height: 20px
        margin-bottom: 15px
      .footer-title
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px
@media ( max-width: 485px)
  .review
    .swiper-container
      width: 90%
      height: 540px
@media ( max-width: 450px)
  .collection
    &-wrapper
      .collection-block-plant
        height: 380px
      .collection-block
        height: 120px
  .trends
    &-wrapper
      .news-wrapper,.best-wrapper,.soon-wrapper
        .see-more-wrapper
          .trends-card-more
            padding: 40px 29px 69px 29px
            max-height: 200px
            .see-more
        .trends-card
          height: 200px
  .review
    padding-top: 34px
    .swiper-container
      width: 280px
      height: 560px
    .review-text
      font-size: 18px
      line-height: 36px
      margin-top: 21px
    .review-author
      text-align: center
      width: 145px
    .review-img
      width: 70px
@media ( max-width: 360px)
  .collection
    &-wrapper
      .collection-block-plant
        height: 300px
        min-height: auto
        .collection-img
          height: 300px
          object-position: center center
      .collection-wrapper-img
        .collection-block
          flex-basis: 48%
          max-height: 97px
  .trends
    &-wrapper
      .news-wrapper,.best-wrapper,.soon-wrapper
        .see-more-wrapper
          flex-basis: 48%
          .trends-card-more
            padding: 34px 19px 69px 19px
            max-height: 170px
            .see-more
        .trends-card
          height: 170px
          flex-basis: 48%
  .review
    padding-top: 34px
    .swiper-container
      width: 280px
      height: 560px
    .review-text
      font-size: 18px
      line-height: 36px
      margin-top: 21px
    .review-author
      text-align: center
      width: 145px
    .review-img
      width: 70px
