@font-face
  font-family: 'HK Grotesk'
  src: url('../fonts/HKGrotesk-Bold.woff') format('woff'),url('../fonts/HKGrotesk-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: bold
@font-face
  font-family: 'HK Grotesk'
  src: url('../fonts/hkgrotesk-medium-web.woff') format('woff'),url('../fonts/hkgrotesk-medium-web.woff2') format('woff2')
  font-weight: 500
  font-style: normal
*
  box-sizing: border-box
body
  background-color: $bg-color
.container
  max-width: 1280px
  margin: auto
img
  max-width: 100%
input:active,input:focus,
textarea:active,textarea:focus,
button:active,button:focus,
a:active,a:focus
  outline: none
