@font-face
  font-family: 'HKGrotesk'
  src: url('../fonts/hkgrotesk-regular-web.woff') format('woff'),url('../fonts/hkgrotesk-regular-web.woff2') format('woff2')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'HK Grotesk'
  src: url('../fonts/hkgrotesk-bold-web.woff') format('woff'),url('../fonts/hkgrotesk-bold-web.woff2') format('woff2')
  font-weight: normal
  font-style: bold
@font-face
  font-family: 'HK Grotesk'
  src: url('../fonts/hkgrotesk-medium-web.woff') format('woff'),url('../fonts/hkgrotesk-medium-web.woff2') format('woff2')
  font-weight: 500
  font-style: normal
*
  box-sizing: border-box
  outline: none
  scroll-behavior: smooth
body
  background-color: $bg-color

.container
  max-width: 1280px
  margin: auto
img
  max-width: 100%
  max-height: 100%
input:active,input:focus,
form:active,form:focus,
textarea:active,textarea:focus,
button:active,button:focus,
a:active,a:focus
div:active,div:focus
  outline: none
.divider
  width: 1140px
  color: #E5EAF4
  padding-top: 0px
  padding-bottom: 0px
  border: 1px solid #E5EAF4
  border-bottom: 0px
.invalid
  color: black
  font-family: Open Sans
textarea
  resize: none
.top
  padding: 15px 15px 12px 15px
  position: fixed
  right: 15px
  bottom: 15px
  background-color: #2d74dc
  border-radius: 50%
  cursor: pointer
  z-index: 150
